Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
cx-Oracle==7.2.3
psycopg2-binary==2.8.4
pymssql==2.1.4
teradatasql==16.20.0.58
cassandra-driver==3.19.0
pydata-google-auth==1.2.0
google.cloud
google-cloud-bigquery
PyYAML==5.3
Pyro4==4.77
pandas==0.25.3
ldap3==2.7
google-cloud-storage
xlrd==1.2.0
openpyxl==3.0.3
memory_profiler
Pycurl
google.cloud.logging

